/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.spinner{
    width: 20px;
    height: 20px;

}

.bs-popover-bottom{
    transform: translate(1060px, 47px) !important;
}